<!-- partials/certificates.html -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center mb-4">Certificates</h2>
        </div>
    </div>

    <!-- ! AI Engineer Internship Certificate -->
    <div class="row mb-2">
        <div class="col-lg-6">
            <!-- * Certificate Title -->
            <h4 class="text-lg-start text-center">AI Engineer Internship Certificate </h4>
            <!-- * Certificate Institution and view Certificate -->
            <p class="text-lg-start text-center fw-lighter fs-5">Animals.ai<br> <a href=""
                    class="internship-animalsai-certificate">View Certificate</a></p>
        </div>
        <div class="col-lg-6">
            <!-- * Certificate Location and Date -->
            <p class="text-lg-end text-center">Helsingborg, Sweden | 08/2023 – 10/2023</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <ul>
                <!-- * Certificate Description -->
                <li>Completed an intensive internship program at Animals.AI, where I demonstrated exceptional initiative
                    and problem-solving skills.</li>
                <li>Successfully completed a computer vision AI project originally scheduled for 3 months in just 2
                    weeks.</li>
                <li>Introduced and implemented an innovative approach to a project, resulting in improved efficiency and
                    project outcomes adopted by the company.</li>
            </ul>
        </div>
    </div>
    <!-- Horizontal Line -->
    <hr class="w-25 my-4 m-auto">

    <!-- ! Lead AI Engineer Smart Lab -->
    <div class="row mb-2">
        <div class="col-lg-6">
            <!-- * Certificate Title -->
            <h4 class="text-lg-start text-center">Lead AI Engineer Smart Lab</h4>
            <!-- * Certificate Institution and view Certificate -->
            <p class="text-lg-start text-center fw-lighter fs-5">Toros University<br> <a href=""
                    class="tekonfeset-certificate">View Certificate</a></p>
        </div>
        <div class="col-lg-6">
            <!-- * Certificate Location and Date -->
            <p class="text-lg-end text-center">Mersin, Turkey | Teknofest 2023</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <ul>
                <!-- * Certificate Description -->
                <li>Online Courses: ASP.NET, Full Stack Web Development, Laravel, C#, Java, Python, Android, Fl Studio,
                    Deep Learning, Self-Driving Car, Data Structure, JavaScript, WordPress</li>
            </ul>
        </div>
    </div>
    <!-- Horizontal Line -->
    <hr class="w-25 my-4 m-auto">

    <!-- ! Certificate Of Completion -->
    <div class="row mb-2">
        <div class="col-lg-6">
            <!-- * Certificate Title -->
            <h4 class="text-lg-start text-center">Certificate Of Completion</h4>
            <!-- * Certificate Institution and view Certificate -->
            <p class="text-lg-start text-center fw-lighter fs-5">Udemy <br> <a href=""
                    class="udemy-selfDrivingCar-certificate">View Certificate</a></p>
        </div>
        <div class="col-lg-6">
            <!-- * Certificate Location and Date -->
            <p class="text-lg-end text-center">Mersin, Turkey | 29.01.2023</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <ul>
                <!-- * Certificate Description -->
                <li>The Complete Self-Driving Car Course – Applied Deep Learning</li>
            </ul>
        </div>
    </div>
    <!-- Horizontal Line -->
    <hr class="w-25 my-4 m-auto">
</div>