<!-- partials/education.html -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center mb-4">Education</h2>
        </div>
    </div>

    <!-- ! Bachelor of Computer and Software Engineering -->
    <div class="row mb-2">
        <div class="col-lg-6">
            <!-- * Education Institution -->
            <h4 class="text-lg-start text-center">Toros University</h4>
            <!-- * Education Degree -->
            <p class="text-lg-start text-center fw-lighter fs-5">Bachelor of Computer and Software Engineering</p>
        </div>
        <div class="col-lg-6">
            <!-- * Education Location and Date -->
            <p class="text-lg-end text-center">Mersin, Turkey | 09/2019 – 07/2023</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <ul>
                <!-- * Education Description -->
                <li>Ranked 1st Student on Computer and software Engineering Department and Engineering Faculty and
                    Ranked 2nd on the whole University.</li>
                <li>GPA: 3.77/4.00. Passed all semesters with honors. (Transcript)</li>
                <li>Member of administrative board in Computer Sciences Community</li>
                <li>Graduation Project: Behaviour Cloning Self Driving Car</li>
                <li>Top Projects: Web Crawler, Inventory Management System, Library Management System, Cashier
                    Application, Forums Web Application</li>
            </ul>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <!-- Horizontal Line -->
            <hr class="w-25 my-4 m-auto">
        </div>
    </div>

    <!-- ! Additional Courses -->
    <div class="row mb-2">
        <div class="col-lg-6">
            <!-- * Education Institution -->
            <h4 class="text-lg-start text-center">Additional Courses</h4>
            <!-- * Education Degree -->
        </div>
        <div class="col-lg-6">
            <!-- * Education Location and Date -->
            <p class="text-lg-end text-center"></p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <ul>
                <!-- * Education Description -->
                <li>Online Courses: ASP.NET, Full Stack Web Development, Laravel, C#, Java, Python, Android, Fl Studio,
                    Deep Learning, Self-Driving Car, Data Structure, JavaScript, WordPress</li>
            </ul>
        </div>
    </div>
    <!-- Horizontal Line -->
    <hr class="w-50 my-5 m-auto">
</div>