<!-- partials/experience.html -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center mb-4">Work Experience</h2>
        </div>
    </div>

    <!-- ! Mid-Level Software Engineer -->
    <div class="row mb-2">
        <div class="col-lg-6">
            <!-- * Work Experience Name -->
            <h4 class="text-lg-start text-center">Mid-Level Software Engineer </h4>
            <!-- * Work Experience Company -->
            <p class="text-lg-start text-center fw-lighter fs-5">Animals.AI</p>
        </div>
        <div class="col-lg-6">
            <!-- * Work Location and Date -->
            <p class="text-lg-end text-center">Helsingborg, Sweden | 08/2023 – 04/2024</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <ul>
                <!-- * Work Description -->
                <li>Developed 30+ advanced Computer Vision Models and 50+ image processing algorithms.</li>
                <li>Managed annotation tasks for over 10,000 images.</li>
                <li>Automated model training using Google Compute Engine, including automatic data downloading,
                    training, and model deployment.</li>
                <li>Managed backend infrastructure on Google Cloud Platform, overseeing Firebase and Cloud Run for
                    storage systems.</li>
                <li>Designed and optimized REST APIs, facilitating team efficiency.</li>
                <li>Composed an automated camera system with up to 12 cameras for AI scripts and IoT solutions.</li>
                <li>Worked with 5+ Nvidia Jetson devices on one network, leveraging RTSP technologies.</li>
                <li>Mentored 3+ interns in API development, backend engineering, and computer vision techniques.</li>
                <li>Acquired extensive knowledge of agriculture practices through IoT work, 5+ farm visits, and
                    collaboration with 4+ researchers and engineers.</li>
            </ul>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <!-- Horizontal Line -->
            <hr class="w-25 my-4 m-auto">
        </div>
    </div>

    <!-- ! Internship in IT (1) -->
    <div class="row mb-2">
        <div class="col-lg-6">
            <!-- * Work Experience Name -->
            <h4 class="text-lg-start text-center">Internship in IT</h4>
            <!-- * Work Experience Company -->
            <p class="text-lg-start text-center fw-lighter fs-5">Toros University</p>
        </div>
        <div class="col-lg-6">
            <!-- * Work Location and Date -->
            <p class="text-lg-end text-center">Mersin, Turkey | 03/2023 – 07/2023</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <ul>
                <!-- * Work Description -->
                <li>Maintained the company's IT infrastructure. Fixed about 50% of the laboratory’s computers.</li>
                <li>Ensured that they were prepared for use by thousands of students.</li>
                <li>Assisted the professors with all their technical problems with a 100% satisfaction rate.</li>
            </ul>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <!-- Horizontal Line -->
            <hr class="w-25 my-4 m-auto">
        </div>
    </div>

    <!-- ! Internship in IT (2) -->
    <div class="row mb-2">
        <div class="col-lg-6">
            <!-- * Work Experience Name -->
            <h4 class="text-lg-start text-center">Internship in IT</h4>
            <!-- * Work Experience Company -->
            <p class="text-lg-start text-center fw-lighter fs-5">Toros University</p>
        </div>
        <div class="col-lg-6">
            <!-- * Work Location and Date -->
            <p class="text-lg-end text-center">Mersin, Turkey | 07/2022 – 09/2022</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <ul>
                <!-- * Work Description -->
                <li>Gained experience in a variety of IT tasks, including software development, system administration,
                    and network engineering.</li>
            </ul>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <!-- Horizontal Line -->
            <hr class="w-25 my-4 m-auto">
        </div>
    </div>

    <!-- ! Freelance -->
    <div class="row mb-2">
        <div class="col-lg-6">
            <!-- * Work Experience Name -->
            <h4 class="text-lg-start text-center">Freelance</h4>
            <!-- * Work Experience Company -->
            <p class="text-lg-start text-center fw-lighter fs-5">Full Stack Web Development</p>
        </div>
        <div class="col-lg-6">
            <!-- * Work Location and Date -->
            <p class="text-lg-end text-center">Mersin, Turkey | 09/2021 – 09/2022</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <ul>
                <!-- * Work Description -->
                <li>Able to work independently to meet deadlines and deliver projects on time and within budget.</li>
                <li>Collaborated with marketing agencies for developing their websites while including SEO.</li>
            </ul>
        </div>
    </div>
    <!-- Horizontal Line -->
    <hr class="w-50 my-5 m-auto">
</div>