<!-- partials/landing.html -->

<!-- ! Header 1 -->
<!-- * Header 2 -->
<!-- ? Header 3 -->

<div class="container mt-5">
    <div class="row">
        <!-- ! Personal Photo -->
        <div class="col-lg-4 d-flex align-items-center justify-content-center">
            <div class="text-center">
                <img src="../resources/personal photo/PersonalPhotoCropped.jpg" alt="Personal Photo"
                    class="personal-photo img-fluid rounded-circle">
                <h1 class="mt-4">Ammar Hany</h1>
            </div>
        </div>

        <!-- ! About Me Section -->
        <div class="col-lg-8 mt-lg-4">
            <!-- ! About Me Title -->
            <h2 class="text-center">Computer and Software Engineer</h2>
            <h3 class="mb-3 text-center text-lg-start">About Me</h3>
            <p>Experienced Computer and Software Engineer, specializing in AI, Computer Vision, Backend, and IoT.
                Proficient in Python and C#, with over 3 years of hands-on experience. Seeking full-time opportunities
                in Computer Vision and Backend roles, open to remote, hybrid, or on-site positions with relocation
                availability.</p>

            <!-- ! Connect with Me and Contact Information -->
            <div class="row">
                <!-- Connect with Me -->
                <div class="col-lg-6">
                    <h3 class="mb-3 text-center text-lg-start">Connect with Me</h3>
                    <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/ammar-hany/" target="_blank"
                            rel="noopener noreferrer">LinkedIn Profile</a></p>
                    <p><strong>GitHub:</strong> <a href="https://github.com/amarhany20" target="_blank"
                            rel="noopener noreferrer">GitHub Profile</a></p>
                </div>

                <!-- Contact Information -->
                <div class="col-lg-6">
                    <h3 class="mb-3 text-center text-lg-start">Contact Information</h3>
                    <p><strong>Email:</strong> <a
                            href="mailto:ammarhanyezeldin@gmail.com">ammarhanyezeldin@gmail.com</a></p>
                    <p><strong>Phone Numbers:</strong></p>
                    <p><img src="../resources/icons/egypt.png" alt="Egypt Flag" style="width: 1em; height: 1em;"> <a
                            href="" class="egypt-phone">+20 106 188 84 76</a> - <a class="egypt-whatsapp" href=""
                            target="_blank" rel="noopener noreferrer">WhatsApp</a></p>
                    <p><img src="../resources/icons/turkey.png" alt="Turkey Flag" style="width: 1em; height: 1em;"> <a
                            href="" class="turkey-phone">+90 539 577 59 90</a> - <a class="turkey-whatsapp" href=""
                            target="_blank" rel="noopener noreferrer">WhatsApp</a></p>
                    <p><img src="../resources/icons/sweden.png" alt="Sweden Flag" style="width: 1em; height: 1em;"> <a
                            href="" class="sweden-phone">+46 73 979 35 88</a> - <a class="sweden-whatsapp" href=""
                            target="_blank" rel="noopener noreferrer">WhatsApp</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Horizontal Line -->
    <hr class="w-50 my-5 m-auto">
</div>