<!-- partials/navbar.html -->

<!-- ! Header 1 -->
<!-- * Header 2 -->
<!-- ? Header 3 -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="#">Ammar Hany</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link resume-link" aria-current="page" href="#">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link portfolio-link" href="#">Portfolio</a>
                </li>
                <!-- GitHub link -->
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/amarhany20" target="_blank" rel="noopener noreferrer">
                        GitHub
                    </a>
                </li>
                <!-- LinkedIn link -->
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/ammar-hany/" target="_blank"
                        rel="noopener noreferrer">
                        LinkedIn
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="#landing">Landing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#certificates">Certificates</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-dark-light-mode-toggle" aria-label="Toggle Dark Mode">
                        <!-- <i class="bi bi-moon"></i> Dark Mode Icon -->
                        <!-- <i class="bi bi-brightness-high "></i> Light Mode Icon -->
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>