<!-- partials/skills.html -->

<!-- ! Header 1 -->
<!-- * Header 2 -->
<!-- ? Header 3 -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center mb-4">Skills</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Category</th>
                            <th>Skills</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Programming Languages</td>
                            <td>C#, Python, C++, Java, PHP, HTML, CSS, JavaScript, SQL, XAML</td>
                        </tr>
                        <tr>
                            <td>Frontend Frameworks</td>
                            <td>Bootstrap</td>
                        </tr>
                        <tr>
                            <td>Backend Frameworks</td>
                            <td>Flask, ASP.NET, Entity Framework, MVC, Razor, Blazor, Laravel, .NET, REST API, JSON,
                                YAML, .ENV, Node.js</td>
                        </tr>
                        <tr>
                            <td>Desktop Frameworks</td>
                            <td>WPF</td>
                        </tr>
                        <tr>
                            <td>Database Technologies</td>
                            <td>MySQL, MSSQL, SQLite, Firebase</td>
                        </tr>
                        <tr>
                            <td>Mobile Frameworks</td>
                            <td>Android</td>
                        </tr>
                        <tr>
                            <td>AI Frameworks</td>
                            <td>TensorFlow, Keras, PyTorch, OpenCV, Ultralytics, Supervision, YOLO</td>
                        </tr>
                        <tr>
                            <td>Python Libraries</td>
                            <td>NumPy, Pandas, OS, Shutil, JWT, Gunicorn, PIL, glob, hashlib, google.cloud</td>
                        </tr>
                        <tr>
                            <td>Cloud Services</td>
                            <td>Google Cloud Platform</td>
                        </tr>
                        <tr>
                            <td>DevOps Tools</td>
                            <td>Docker, Artifact Registry</td>
                        </tr>
                        <tr>
                            <td>Applications and Tools</td>
                            <td>VSCode, Visual Studio, PyCharm, Android Studio, IntelliJ, Wix, Fl Studio, Microsoft
                                Office, CMake, Postman, SSH, VM</td>
                        </tr>
                        <tr>
                            <td>Fields and Technologies</td>
                            <td>Full-Stack, AI, Mobile Development, Web Development, Database Management, DevOps, REST
                                Apis, Backend Development</td>
                        </tr>
                        <tr>
                            <td>Languages</td>
                            <td>English (C2), Turkish (B2), Arabic (Native), Swedish (A1), French (A1)</td>
                        </tr>
                        <tr>
                            <td>Skills</td>
                            <td>Quick Learner, Attention to Detail, Problem Solving, Creativity, Teamwork, Mentorship,
                                Leadership</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Horizontal Line -->
    <hr class="w-50 my-5 m-auto">
</div>